head{
    color:rgb(13, 235, 24) ;
    background-color: rgb(17, 145, 219);
}
html{
    color:rgb(13, 235, 24) ;
    background-color: rgb(17, 145, 219);
    
}
h1{ 
    color: rgb(13, 235, 24);
    background-color: rgb(17, 145, 219);

}
h2{
    color: blueviolet;
    background-color: rgb(6, 7, 6);
}
h3{
    background-image: -o-linear-gradient(40);
}
h4{
    background-color: rgb(27, 214, 74);

}
h5{
    color: rgb(233, 14, 123);
    background-color: rgb(1, 2, 2);
}
h6{
    color: rgb(226, 10, 10);
    font-size: larger;
     
}
p{
    color:rgba(8, 8, 8, 0.603)
    
}
h7{
    color: rgb(228, 17, 122);
    font-size: larger;
}
