*{
  margin: 0;
  padding: 0;
}

.encabezado{
  width: 100%;
  height: 250px;
}

#toggle{
  display: none;
}

#label_toggle{
  position: absolute;
  top:10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}
.dark{
  background-color: rgb(63, 60, 60);
  color:white
}
.navbar{ 
  display: flex;
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  position: absolute;
  width: 200px;
  float: left;
  height: 70px;
  margin-left: -200px;
}


.menu{
  margin-top: 80px;
  margin-left: 180px;
  width: 1200px;
  float: left;
  height: 70px;
  min-width: 10px;
}
.menu:hover{
  box-shadow:0px 15px 20px rgb(2, 99, 2);
  transform: translateY(3px);
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.efecto{
  background-color: white;
  box-shadow:0px 8px 15px  rgb(0, 0, 0, 0.1);
  width: 1200px;
  
}

ul li{
  
  list-style: none;
  margin-left: 60px;
  margin-top: 27px;
  font-size: 14px;
}
.lista:hover{
  box-shadow: 0px 15px 20px rgb(10, 114, 36);
  transform: translateY(-7px);
}


ul li a{
  text-decoration: none;
  color:rgb(15, 13, 13);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-family: cursive;
}

.baner{ 
  margin-top: -125px;
  width: 100%;
  height: 80px;
  
  
}

h1{
  float: right;
  margin-right: 80px;
  margin-top: -50px;
}

.cuenta{
  float: right;
  margin-right: -150px;
  margin-top: -25px;
  
}

.titulo{
  width:100%;
  height: 50px;

}

.titulo p{
  text-align: center;
  font-size: 30px;
}

.titulo h2{
  text-align: center;
  font-size: 30px;
}

.opciones{
  width: 100%;
  height: 450px;

}

.contenedores{
  width: 490px;
  height: 475px;
  list-style: none;
  float: left;
  margin-left: 150px;
  margin-top: 100px;
  right: 5px;
  
}

.contenedores img{
  width: 500px;
  height: 500px;
}

.contenedores:hover{
  box-shadow: 0px 15px 20px rgb(10, 114, 36);
  transform: translateY(-12px);
}

.imagen{
  margin-top: -330px;
  margin-left: 100px ;
}

.imagen img{
  width: 300px;
  height: 300px;
}

.contenedores h1{
  position: absolute;
  margin-left: 150px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color: black;
  
}
  